.App {
  display: flex;
  flex-direction: column;

  background-color: #e3f2fd;
  height: 100vh;
}

.control-bar {
  width: 100%;
  height: 7vh;
  min-height: 35px;
  border: 1px solid black;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #bbdefb;
  padding: 0 2%;
  border-radius: 0 0 1.2em 1.2em;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #d1cfcf;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}

.menu-group {
  width: 90%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.buttons {
  flex-grow: 1;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.grid-view {
  flex-grow: 1;
  padding: 0 20px;
  margin-bottom: 20px;
}